In [1]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [2]:
data = pd.DataFrame()
data['A'] = ['a','a','b','a']
data['B'] = ['b','b','a','b']
data['Class'] = [0, 0, 1, 0]

data

   A  B  Class
0  a  b      0
1  a  b      0
2  b  a      1
3  a  b      0

In [3]:
tree = DecisionTreeClassifier()
tree.fit(data[['A','B']], data['Class'])

ValueError: could not convert string to float: 'a'

##### Таким образом, даже для деревьев решений необходимо кодировать категориальные значения данных, так как теоритически он должен обучаться на них, но на практике очень редко

## Label Encoder

Первое (выбранное каким-то образом) уникальное значение кодируется нулем, второе единицей, и так далее, последнее кодируется числом, равным количеству уникальных значений минус единица.

#### Давайте посмотрим на примере:

Предположим у нас есть категориальный признак бренда автомобиля, со значениями BMW, Mercedes, Nissan, Infinity, Audi, Volvo, Skoda.

Создадим искусственный признак brand и закодируем его с помощью реализации sklearn.

In [4]:
data = pd.DataFrame()
data['brand'] = ['BMW', 'Mersedes','Nissan', 'Infinity', 'Audi', 'Volvo', 'Skoda']*5
data

       brand
0        BMW
1   Mersedes
2     Nissan
3   Infinity
4       Audi
5      Volvo
6      Skoda
7        BMW
8   Mersedes
9     Nissan
10  Infinity
11      Audi
12     Volvo
13     Skoda
14       BMW
15  Mersedes
16    Nissan
17  Infinity
18      Audi
19     Volvo
20     Skoda
21       BMW
22  Mersedes
23    Nissan
24  Infinity
25      Audi
26     Volvo
27     Skoda
28       BMW
29  Mersedes
30    Nissan
31  Infinity
32      Audi
33     Volvo
34     Skoda

In [5]:
data = data.sample(frac=1, random_state=42).reset_index(drop=True)

In [6]:
data

       brand
0      Volvo
1      Skoda
2   Infinity
3        BMW
4   Mersedes
5   Mersedes
6      Volvo
7      Volvo
8   Mersedes
9     Nissan
10    Nissan
11     Volvo
12       BMW
13      Audi
14  Infinity
15     Skoda
16     Volvo
17      Audi
18  Mersedes
19    Nissan
20      Audi
21  Infinity
22    Nissan
23    Nissan
24  Infinity
25  Infinity
26  Mersedes
27      Audi
28      Audi
29     Skoda
30     Skoda
31     Skoda
32       BMW
33       BMW
34       BMW

In [7]:
# Применим Label Encoder
from sklearn.preprocessing import LabelEncoder
labelencoder = LabelEncoder()
data_new = labelencoder.fit_transform(data.values)
data_new[:20]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

array([6, 5, 2, 1, 3, 3, 6, 6, 3, 4, 4, 6, 1, 0, 2, 5, 6, 0, 3, 4])

In [8]:
labelencoder.classes_

array(['Audi', 'BMW', 'Infinity', 'Mersedes', 'Nissan', 'Skoda', 'Volvo'],
      dtype=object)

Реализация Label Encoder в sklearn прежде всего сортирует по алфавиту уникальные значения, потом присваивает им порядковый номер!

#### После преобразования получилось, что по данному признаку значение Volvo имеет численное значение 6, а BMW 1, что дает нам право говорить, что Volvo в 6 раз больше (круче и тд.) чем BMW по признаку brand.

Однако, в исходных данных таких зависимостей не было, что и является существенным недостатком данного варианта кодирования.

### One-Hot Encoder

Данный тип кодирования, основывается на создании бинарных признаков, которые показывают принадлежность к уникальному значению. Проще говоря, на примере нашего признака brand, мы создаем бинарные признаки для всех уникальных значений: brand_Volvo, brand_BMW, ..., где признак принадлежности к бренду Volvo brand_Volvo имеет значение 1, если объект в признаке brand имеет значение Volvo и нуль при всех других. Давайте посмотрим на примере признака brand:

In [14]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder = OneHotEncoder()
onehotencoder
date_new = onehotencoder.fit_transform(data.values)
pd.DataFrame(data_new.toarray(), columns=onehotencoder.categories_).head(10)

  Audi  BMW Infinity Mersedes Nissan Skoda Volvo
0  0.0  0.0      0.0      0.0    0.0   0.0   1.0
1  0.0  0.0      0.0      0.0    0.0   1.0   0.0
2  0.0  0.0      1.0      0.0    0.0   0.0   0.0
3  0.0  1.0      0.0      0.0    0.0   0.0   0.0
4  0.0  0.0      0.0      1.0    0.0   0.0   0.0
5  0.0  0.0      0.0      1.0    0.0   0.0   0.0
6  0.0  0.0      0.0      0.0    0.0   0.0   1.0
7  0.0  0.0      0.0      0.0    0.0   0.0   1.0
8  0.0  0.0      0.0      1.0    0.0   0.0   0.0
9  0.0  0.0      0.0      0.0    1.0   0.0   0.0

#### Главный недостаток One-Hot Encoder'a заключается в существенном увеличении объема данных, так как большие по количеству уникальных значений признаки кодируются большим количеством бинарных признаков.

In [15]:
!pip install category_encoders

Collecting category_encoders
  Downloading category_encoders-2.5.1.post0-py2.py3-none-any.whl (72 kB)
Requirement already satisfied: pandas>=1.0.5 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (1.2.4)
Requirement already satisfied: patsy>=0.5.1 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (0.24.1)
Requirement already satisfied: statsmodels>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (0.12.2)
Requirement already satisfied: numpy>=1.14.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (1.20.1)
Requirement already satisfied: scipy>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from category_encoders) (1.6.2)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=1.0.5->category_encoders) (2021.1)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.0->category_encoders) (2.1.0)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.5.1.post0

In [20]:
from category_encoders.binary import BinaryEncoder

In [21]:
bn = BinaryEncoder()
bn.fit_transform(data.values)[:10]

   0_0  0_1  0_2
0    0    0    1
1    0    1    0
2    0    1    1
3    1    0    0
4    1    0    1
5    1    0    1
6    0    0    1
7    0    0    1
8    1    0    1
9    1    1    0

#### Основная проблема данного подхода, что в погоне за оптимизацией количества признаков после преобразования, теряется интерпретируемость бинарных признаков, которая характерна признакам One-Hot Encoder.

### Helmert Encoder

In [27]:
from category_encoders.helmert import HelmertEncoder
he = HelmertEncoder(drop_invariant=True)
he.fit_transform(sorted(['BMW', 'Mercedes', 'Nissan', 'Infinity', 'Audi', 'Volvo', 'Skoda']))

C:\ProgramData\Anaconda3\lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

   0_0  0_1  0_2  0_3  0_4  0_5
0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
1  1.0 -1.0 -1.0 -1.0 -1.0 -1.0
2  0.0  2.0 -1.0 -1.0 -1.0 -1.0
3  0.0  0.0  3.0 -1.0 -1.0 -1.0
4  0.0  0.0  0.0  4.0 -1.0 -1.0
5  0.0  0.0  0.0  0.0  5.0 -1.0
6  0.0  0.0  0.0  0.0  0.0  6.0

In [28]:
he = HelmertEncoder(drop_invariant=True)
he.fit_transform(data.values)[:10]

C:\ProgramData\Anaconda3\lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

   0_0  0_1  0_2  0_3  0_4  0_5
0 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
1  1.0 -1.0 -1.0 -1.0 -1.0 -1.0
2  0.0  2.0 -1.0 -1.0 -1.0 -1.0
3  0.0  0.0  3.0 -1.0 -1.0 -1.0
4  0.0  0.0  0.0  4.0 -1.0 -1.0
5  0.0  0.0  0.0  4.0 -1.0 -1.0
6 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
7 -1.0 -1.0 -1.0 -1.0 -1.0 -1.0
8  0.0  0.0  0.0  4.0 -1.0 -1.0
9  0.0  0.0  0.0  0.0  5.0 -1.0

### Backward-Difference Encode

кодирует категориальные данные по схожей схеме, что и Helmert Encoder, т.е с разницей до и после главной диагонали. Здесь проще посмотреть иллюстрацию кодирования категориального признака с N=4 уникальными значениями k = N-1 = 3 dummy признаками.

Посмотрим на кодирование нашего признака brand, сначала на отсортированных уникальных значениях, потом на всех данных:

In [30]:
from category_encoders.backward_difference import BackwardDifferenceEncoder
bd = BackwardDifferenceEncoder(drop_invariant=True)
bd.fit_transform(sorted(['BMW', 'Mercedes', 'Nissan', 'Infinity', 'Audi', 'Volvo', 'Skoda']))

C:\ProgramData\Anaconda3\lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

        0_0       0_1       0_2       0_3       0_4       0_5
0 -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
1  0.142857 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
2  0.142857  0.285714 -0.571429 -0.428571 -0.285714 -0.142857
3  0.142857  0.285714  0.428571 -0.428571 -0.285714 -0.142857
4  0.142857  0.285714  0.428571  0.571429 -0.285714 -0.142857
5  0.142857  0.285714  0.428571  0.571429  0.714286 -0.142857
6  0.142857  0.285714  0.428571  0.571429  0.714286  0.857143

In [32]:
bd = BackwardDifferenceEncoder(drop_invariant=True)
bd.fit_transform(data.values)[:20]

C:\ProgramData\Anaconda3\lib\site-packages\category_encoders\base_contrast_encoder.py:126: FutureWarning: Intercept column might not be added anymore in future releases (c.f. issue #370)
  warnings.warn("Intercept column might not be added anymore in future releases (c.f. issue #370)",

         0_0       0_1       0_2       0_3       0_4       0_5
0  -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
1   0.142857 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
2   0.142857  0.285714 -0.571429 -0.428571 -0.285714 -0.142857
3   0.142857  0.285714  0.428571 -0.428571 -0.285714 -0.142857
4   0.142857  0.285714  0.428571  0.571429 -0.285714 -0.142857
5   0.142857  0.285714  0.428571  0.571429 -0.285714 -0.142857
6  -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
7  -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
8   0.142857  0.285714  0.428571  0.571429 -0.285714 -0.142857
9   0.142857  0.285714  0.428571  0.571429  0.714286 -0.142857
10  0.142857  0.285714  0.428571  0.571429  0.714286 -0.142857
11 -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
12  0.142857  0.285714  0.428571 -0.428571 -0.285714 -0.142857
13  0.142857  0.285714  0.428571  0.571429  0.714286  0.857143
14  0.142857  0.285714 -0.571429 -0.428571 -0.285714 -0.142857
15  0.142857 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
16 -0.857143 -0.714286 -0.571429 -0.428571 -0.285714 -0.142857
17  0.142857  0.285714  0.428571  0.571429  0.714286  0.857143
18  0.142857  0.285714  0.428571  0.571429 -0.285714 -0.142857
19  0.142857  0.285714  0.428571  0.571429  0.714286 -0.142857

Target Encoding
Основная цель, объядиняющая данный тип кодировщиков, заключается в использовании целевой метки, для кодирования категориальных признаков.

К Target Encoder'aм относятся Target Encoder, Leave-One-Out Encoder, James-Stein Encoder.

Target Encoder реализован "под капотом" в модели градиентного бустинга над решающими деревьями CatBoost!

Target Encoder для задачи регрессии использует среднее значение целевой метки по данному значению категориального признака.

Другими словами, если у нас задача предсказания цены авто, целевая метка - цена авто, то каждое значение марки авто в нашем признаке brand кодируется средней ценой автомобиля данного бренда.

Target Encoder для задачи бинарной классификации использует вероятность единичного класса для данного значения категориального признака.

Другими словами, если у нас задача предсказания цены продажи авто (продано/не продано), единичный класс - успешная продажа авто, то каждое значение марки авто в нашем признаке brand кодируется вероятностью продажи авто.

Важно понимать, что для тестовой выборки кодирования производится значениями, полученными на обучающей выборке. Поэтому, важно смотреть за статистической схожестью выборок, в противном случае теряется главный плюс данного кодирования - сохранение исходной зависимости между признаком и целевой меткой во время кодирования.



Leave-One-Out Encoder является расширением Target Encoder'a, в котором, кодирование конкретного объекта обучающей выборки производится с использованием для подсчета среднего/вероятности единичного класса без учета значения данного объекта (т.е мы как раз удаляем его значение, отсюда и происходит название кодировщика). Для тестовой выборки ничем не отличается от Targer Encoder'a.

James-Stein Encoder является некоторым средневзешенным между значениями для данного значения категориального признака и значением для всей выборки. Важным моментом является тот факт, что из формул для веса B, можно сказать, что данный энкодер и его оптимальный параметр B определен корректно и однозначно в случае, когда целевая метка распределена нормально!

James-Stein Encoder определен только для задачи регрессии!